.main {
  position: absolute;
  left: 15%;
  top: 40%;
  transform: translate(-25%, -25%);
  width: 40vw;
  font-family: Arial, Helvetica, sans-serif;
  max-height: 70vh;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #2d2d2d;
  border-radius: 10px;
}

/* Large mobile. */
@media screen and (max-width: 425px) {
  .main {
    position: static;
    transform: none;
    width: 90vw;
    overflow-y: scroll;
  }
  .main::-webkit-scrollbar {
    height: 4px;
    width: 5px;
  }

  .main::-webkit-scrollbar-track {
    background-color: #252525;
  }
  .main::-webkit-scrollbar-thumb {
    background-color: #252525;
    border-radius: 10px;
  }
  .main::-webkit-scrollbar-thumb:hover {
    background-color: #252525;
  }
}
